body {
	&.ui-extension-field {
		margin: 0;
		color: grey;
	    font-size: 12px;
	    font-family: roboto,sans-serif;
	    .form {
			margin: 5px 0 5px 0;
		}
		input, select {
			width: 100%;
			box-shadow: none;
			height: 40px;
			box-sizing: border-box;
			-webkit-appearance: listbox;
		}
		#error {
			display: none;
			&.show {
				display: block;
			}
		}
	}
}

